body {
    color: #5a5a5a;
    background: #F9FAFD;
}

/*
 * Sidebar
 */

/*
.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; !* Behind the navbar *!
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar {
    .nav-link {
        font-weight: 500;
        color: #333;

        .feather {
            margin-right: 4px;
            color: #999;
        }

        &.active {
            color: #007bff;
        }

        &:hover, &.active {
            .feather {
                color: inherit;

            }
        }
    }

    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }
}
*/
